
frontend/nuntius/.expo
frontend/nuntius/android/.gradle
frontend/nuntius/android/app/build
frontend/nuntius/node_modules

.venv
.vscode
backend
nginx
terraform
test

.gitignore
diagram.drawio
docker-compose.yaml
LICENSE
README.md
sample.env
test.db
test.db-shm
test.db-wal
test.session.sql
webscoket.code-workspace
