django_secret_key          = "your-secret-key"
postgres_password          = "your-postgres-password"
postgres_db                = "your-db-name"
postgres_user              = "your-db-user"
postgres_host              = "your-postgres-host"
postgres_port              = "5432"
redis_host                 = "your-redis-host"
redis_port                 = "6379"
redis_password             = "your-redis-password"
allowed_hosts              = "your-domain.com"
csrf_trusted_origins       = "https://your-domain.com"
cors_allow_all_origins     = "False"
account_email_verification = "none"
email_backend              = "django.core.mail.backends.console.EmailBackend"
debug                      = "False"
